<mat-form-field *ngIf="orgDataSource.length">
  <input matInput [value]="filter"
         (keyup)="applyFilter($event.target.value)"
         placeholder="Filter">
</mat-form-field>
<table *ngIf="orgDataSource.length"
       matSort (matSortChange)="applySort($event)"
       class="mat-elevation-z8">
  <tr>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="address">Address</th>
    <th mat-sort-header="country">Country</th>
    <th mat-sort-header="phone">Phone</th>
  </tr>
  <tr *ngFor="let element of dataSource">
    <td>{{element.id}}</td>
    <td>{{element.firstName}} {{element.lastName}}</td>
    <td>{{element.address.street}}</td>
    <td>{{element.address.country}}</td>
    <td>{{element.phone}}</td>
  </tr>
</table>
