<mat-form-field>
  <input matInput [value]="filter"
         (keyup)="applyFilter($event.target.value)"
         placeholder="Filter">
</mat-form-field>
<table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
  <tr>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="address">Address</th>
    <th mat-sort-header="country">Country</th>
    <th mat-sort-header="phone">Phone</th>
  </tr>
  <tr *ngFor="let element of dataSource">
    <td>{{element.contact.id}}</td>
    <td>{{element.contact.firstName}} {{element.contact.lastName}}</td>
    <td>{{element.contact.address.street}}</td>
    <td>{{element.contact.address.country}}</td>
    <td>{{element.contact.phone}}</td>
  </tr>
</table>
